body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 14px;
	padding: 1em 3em;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

label {
	width: 100%;
}

label > input {
  float: right;
	font-weight: initial;
	width: 320px;
}

textarea {
	width: 100%;
}

#instructionsHtml {
	white-space: pre-wrap;
	border: 2px solid grey;
	padding:5px;
	word-wrap:break-word;
}

#moreInformationHtml {
	white-space: pre-wrap;
	border: 2px solid grey;
	padding:5px;
	word-wrap:break-word;
}

#htmlContent {
	white-space: pre-wrap;
}

#customWrapper {
	opacity: 0;
}

.left-column {
	width: 50%;
	float: left;
}

.right-column {
	width: 50%;
	float: left;
}

#preview {
	border: 1px solid #888;
	border-top-color: #999;
	border-radius: 5px;
	box-shadow: 0 5px 20px rgba(0,0,0,.2);
	background-clip: padding-box;
	color: #555;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 1em;
	line-height: 1.5;
	overflow: hidden;
	padding: 50px;
	margin-bottom: 1.5em;
}

#preview h3 {
	font-size: 17px;
	line-height: 23px;
	margin: 0;
}

#preview .info-title {
	font-size: 24px;
  line-height: 30px;
}

#preview .get-started-button {
	width: 100%;
	border: none;
  border-radius: 2px;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 13px;
  text-align: center;
  text-transform: uppercase;
}

#preview .horizontal-line {
	box-sizing: border-box;
	height: 1px;
	width: 100%;
	border: 1px solid #E4E5E7;
  margin: 15px 0;
}

#button-container {
	margin: 2em 0;
}

#titleInput {
	width: 220px;
	margin-right: 1em;
}

#library-upload {

}

#download {
	margin-right: 1em;
}

#limeade-upload {
	float: right;
}

#targeting-section {
	padding: 4px 0 12px 0;
}

#html-description-section {
	padding: 4px 0;
	width: 500px;
}

#code-box {
	border: 2px solid grey;
	padding:5px;
	word-wrap:break-word;
}

/* padding and margins for CIE Details inputs */
#event-id,
#event-image-url,
#end-date,
#field-1-value,
#field-2-value,
#field-3-value {
	margin-left: 84px;
}

#points-awarded,
#event-image-url,
#end-date,
#field-1-name,
#field-2-name,
#field-3-name,
#field-1-value,
#field-2-value,
#field-3-value {
	margin-top: 5px;
}

#targeting-label {
	margin-top: 30px;
	display: inline-block;
}


#titleLimit,
#shortDescriptionLimit,
#descriptionLimit,
#taglineLimit,
#moreInformationLimit {
	margin-top: -7px;
	font-size: 12px;
}

#editTagline {
	width: 220px;
}

#show-targeting {
	margin: 30px 0 5px 0;
  position: relative;
  display: inline-block;
  float: right;
}

#targeting-group {
	display: none;
}

#limeadePSK {
  margin-top: 5px;
  width: 100%;
}

.brandingBckgrndColor {
	background-color: #5179b6;
}

.trumbowyg-title {
	margin-bottom: -16px;
}

#resources,
#coaching {
	margin-bottom: 1em;
}

#resources h5,
#coaching h5 {
	display: inline-block;
	margin: 0.3em 0;
}

#resources .remove-button,
#coaching .remove-button {
  float: right;
}

#resources .add-button {
	background: none;
	border: none;
}

#resourcesContainer {
	clear: both;
	margin-top: 1em;
}

#change-coaching-message {
	clear: both;
	margin-top: 2em;
}

#changeCoachingMessage {
	float: right;
}

.delete-resource:focus, .add-button:focus{
	outline: none;
}

.add-more-resources {
	font-size: 16px;
	color: #979797;
	margin: 0 0 0 10px;
}

.col-md-5,
.col-md-1 {
	margin-bottom: 20px;
}

.col-md-5:nth-child(2) {
	margin-left: 20px;
}

.col-md-5 > span {
	font-weight: bold;
}

.col-md-5 > input {
	width: 100%;
}

.delete-resource {
	position: relative;
	top: 20px;
	border: none;
	background: none;
}

#airtable-upload {
	float: right;
}
